*{
    margin: 0;
    padding: 0;
    color: darkblue;
}

.container{
    background-color: bisque;
    width: ;
}

<<<<<<< HEAD
body{
    background-color: aliceblue;
}
=======
.container{
    background-color: bisque;
    width: ;
}
>>>>>>> novo-menu
